:root {
    --main-bg-color: black;
    --main-bg-accent-color: white;
    --title-color: rgb(59, 59, 59);
    --title-color-inverted: var(--text-color-inverted);
    --text-color: rgb(51, 51, 51);
    --text-color-inverted: white;
    --main-bg-accent-color-inverted: black;
    --header-bg-color: black;
    --header-text-color: white;
    --footer-bg-color: black;
    --footer-text-color: white;
    --field-box-shadow: 2px 2px 1px rgb(206 206 206);
    --field-font-size: 15px;
    --field-padding: 10px;
    --button-padding: 10px;
    --button-border-radius: 5px;
    --header-bottom-margin: 0px;
    --footer-top-margin: 0px;
    --header-height: 70px;
    --footer-height: 70px;
    --content-side-margins: 50px;
    --disabled-button-bg-color: rgb(188 188 188);
    --diabled-button-color: var(--text-color);
    --diabled-button-border: 2px solid var(--disabled-button-bg-color) ;
    --button-border: 2px solid black;
    --button-border-inverted: 2px solid white;
    --error-text-color:rgb(255 70 70);
    --error-bg-color:rgb(255 214 214);
    --header-footer-border: 1px solid rgb(255, 255, 255);
    --table-cell-border-color: rgba(255, 255, 255, 0.356);
    --fade-in-animation: fadeInAnimation 1s linear;
    --fade-in-with-delay-animation: fadeInWithDelayAnimation 1s linear;
    --fade-out-animation: fadeOutAnimation .5s linear;
    --slide-down-animation: slideDownAnimation .5s linear;
    --slide-up-animation: slideUpAnimation .5s linear;
    --formlayout-margin: 50px;
}

html {
    height: 100%;
}

html * {
    scroll-behavior: smooth;
}

/* Body Styling */

body {
    font-family: sans-serif;
    background-color: var(--main-bg-accent-color-inverted);
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

body *:not(table, table *) {
    display: flex;
}

/* Form Styling */

form {
    flex-direction: column;
    color: var(--text-color);
    font-size: 20px;
    width: 80%;
}

form label {
    margin-top: 30px;
    margin-bottom: 20px;
}

form .field {
    display: inline-flex;
    align-items: center;
    height: 35px;
    background: white;
    border-radius: 5px;
    border: none;
    box-shadow: var(--field-box-shadow);
    padding: var(--field-padding);
    font-size: var(--field-font-size);
}

form .field:focus {
    outline: none;
}

form button {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: var(--button-border-radius);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--button-padding);
    margin-top: 30px;
    border: none;
    font-weight: bold;
    border: var(--button-border);
    cursor: pointer;
    height: 60px;
}

form button:hover {
    color: black;
    background-color: white;
}

form button:disabled {
    color: var(--diabled-button-color);
    background-color: var(--disabled-button-bg-color);
    border: var(--diabled-button-border);
    cursor: default;
}

form .field input {
    font-size: var(--field-font-size);
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}

form .field span {
    font-size: 20px;
    margin-right: 5px;
}

form input[type='date'] {
    cursor: text;
}

form .error {
    color: var(--error-text-color);
    border-radius: var(--button-border-radius);
    padding: 10px;
    margin-top: 20px;
    font-weight: lighter;
    font-size: 15px;
    justify-content: center;
}

form .error span {
    display: inline-flex;
    align-items: center;
}

form .error::before {
    content: "";
    background-image: url('../icons/warning.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    filter: invert(50%) sepia(40%) saturate(2995%) hue-rotate(323deg) brightness(94%) contrast(115%);
    background-position: center;
    background-size: contain;
    margin-right: 20px;
}

.formLayout {
    height: 100%;
    background-color: var(--main-bg-accent-color);
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.formLayout > * {
    margin-left: var(--formlayout-margin);
    margin-right: var(--formlayout-margin);
}

.formLayout > .title {
    font-size: 50px;
    color: var(--title-color);
}

.transactionInputForm .amountLabel {
    align-items: center;
}

.transactionInputForm .amountLabel label:first-child {
    margin-right: 20px;
}

/* Hide Class */
.hide {
    display: none !important;
} 

/* Page Elements */ 

#header {
    color: var(--header-text-color);
    background-color: var(--header-bg-color);
    font-weight: bolder;
    padding: 10px;
    height: var(--header-height);
    align-items: center;
    font-size: 25px;
    position: sticky;
    top: 0;
    margin-bottom: var(--header-bottom-margin);
    border-bottom: var(--header-footer-border);
    justify-content: space-between;
}

#header div {
    align-items: center;
}

#header div::before {
    content: "";
    background-image: url('../icons/logo.png');
    width: 50px;
    height: 50px;
    filter: invert(100%);
    background-position: center;
    background-size: contain;
    margin: 10px;
    margin-right: 20px;
}

#header button {
    float: right;
    color: var(--text-color-inverted);
    background-color: var(--main-bg-accent-color-inverted);
    border: var(--button-border-inverted);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    width: 100px;
    display: inline-flex;
    justify-content: center;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}

#header button:hover {
    color: black;
    background-color: white;
    border: var(--button-border);
}



#footer {
    color: var(--footer-text-color);
    background-color: var(--footer-bg-color);
    margin-top: var(--footer-top-margin);
    font-weight: lighter;
    padding: 20px;
    height: var(--footer-height);
    align-items: center;
    font-size: 15px;
    bottom: 0;
    justify-content: space-between;
    border-top: var(--header-footer-border);
}

#footer > div:first-child {
    font-weight: bold;
}

#footer > div {
    flex-direction: column;
}

#footer ul {
    list-style: none; /* Remove default bullets */
    margin-bottom: 0px;
    flex-direction: column;
}

#footer ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: white; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

#footer a {
    color: var(--footer-text-color);
    text-decoration: none;
    font-weight: lighter;
    transition: transform .2s;
    padding-bottom: 5px
}

#footer a:hover {
    transform: scale(1.02);
}

#pageNotFoundContent {
    flex-direction: row;
    font-family: sans-serif;
    justify-content: space-between;
    align-items: center;
    max-height: calc(100% - var(--header-bottom-margin) - var(--footer-top-margin) - var(--header-height) - var(--footer-height) - 70px);
    height: 100%;
}

#pageNotFoundContent > div {
    flex-direction: column;
    margin-left: var(--content-side-margins);
    max-width: 50%;
}

#pageNotFoundContent .title {
    font-size: 100px;
    color: var(--title-color-inverted);
}

#pageNotFoundContent .subscript {
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    color: var(--text-color-inverted);
}

#pageNotFoundContent .subscript span {
    padding: 10px;
    line-height: 40px;
}

#pageNotFoundContent .subscript span:first-child {
    margin-top: 35px;
}

#pageNotFoundContent iframe {
    border-radius: 20px;
    margin-right: var(--content-side-margins);
}

#loginForm {
    width: 40%;
    height: 100%;
}

#loginContent {
    background-color: black;
    height: 100%;
    flex-direction: row;
    color: var(--text-color-inverted);
    align-items: center;
    justify-content: space-between;
    z-index: 30;
}

#loginContent>.title {
    font-weight: bolder;
    font-size: 70px;
    letter-spacing: 5px;
    padding: 20px;
    flex-direction: column;
}

#loginContent>.title::before {
    content: "";
    background-image: url('../icons/logo.png');
    width: 70px;
    height: 70px;
    filter: invert(100%);
    background-position: center;
    background-size: contain;
    margin-bottom: 30px;
}

#transactionContainer {
    position: absolute;
    bottom: -100%;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: var(--text-color-inverted);
    z-index: 10;
    background-color: var(--main-bg-color);
}

#transactionTable {
    margin-left: var(--content-side-margins);
    margin-right: var(--content-side-margins);
}

.spinner-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 10px solid white;
    border-top: 10px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#transactionTable {
    flex-direction: column;
    max-height: calc(100% - var(--header-bottom-margin) - var(--footer-top-margin) - var(--header-height) - var(--footer-height) - 70px);
    height: 100%;
}

#transactionTable table {
    width: 100%;
    color: var(--text-color);
    border-collapse: collapse;
    table-layout: fixed;
}

#transactionTable .scrollableTable {
    display: block;
    overflow-y: overlay !important;
    overflow-x: hidden;
    height: 70%;
    padding-bottom: 0px;
    border-bottom: 1px var(--table-cell-border-color) solid;
}

#transactionTable .scrollableTable tr {
    background-color: black;
    color: white;
    height: 80px;
}

#transactionTable .scrollableTable tr.addedRow {
    background-color: #385d36d0;
}


#transactionTable .scrollableTable tr:hover {
    background: rgba(255, 255, 255, 0.144);
}

#transactionTable table thead {
    border-bottom: 1px solid var(--text-color);
}

#transactionTable table td, 
#transactionTable table th {
    padding: 10px;
    vertical-align: middle;
}

#transactionTable table th {
    font-size: 20px;
    border-left: 1px black solid; 
}

#transactionTableBody td:first-child {
    text-align: center;
}

#transactionTable table td {
    font-size: 18px;
    font-weight: lighter;
    border-left: 1px var(--table-cell-border-color) solid;
    padding-left: 20px !important;
}

#transactionTable table td.credit {
    color: #0ca30c;
}

#transactionTable table td.debit {
    color: var(--error-text-color);
}

#transactionTable table thead {
    position: sticky;
    top: 0;
    background-color: var(--main-bg-accent-color);
}

#transactionTable .title {
    justify-content: space-between;
    align-items: center;
    color: var(--text-color-inverted);
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

#transactionTable .title button {
    color: var(--text-color-inverted);
    background-color: var(--main-bg-accent-color-inverted);
    border: var(--button-border-inverted);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    width: 200px;
    display: inline-flex;
    justify-content: center;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}

#transactionTable .title button:hover {
    color: black;
    background-color: white;
    border: var(--button-border);
}

#transactionTable #balance {
    color: var(--text-color-inverted);
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

#transactionTable #balance span {
    color: #0ca30c;
    margin-left: 15px;
    font-weight: normal;
}

#transactionTable #balance span.debt {
    color: var(--error-text-color);
}

#transactionForm {
    height: 100%;
    width: 40%;
    position: fixed;
    top: 0;
    right: -40%;
    background-color: var(--main-bg-accent-color);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 20;
    flex-direction: column;
}

#transactionForm.opened {
    transform: translateX(-100%);
}

#transactionForm .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 60px;
    color: var(--text-color);
    text-decoration: none;
}

/* Slider */

.transactionInputForm .switch {
    position: relative;
    display: inline-block;
    width: 95px;
    height: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
  
.transactionInputForm .switch input {
    display:none;
}
  
.transactionInputForm .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.transactionInputForm .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.transactionInputForm input:checked + .slider {
    background-color: #2ab934;
}

.transactionInputForm input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.transactionInputForm input:checked + .slider:before {
    transform: translateX(67px);
}

.transactionInputForm .slider:after {
    content:'Debit';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
}

.transactionInputForm input:checked + .slider:after {  
    content:'Credit';
}


/* Animations */

#loginContent.slideDown {
    transition: 1s;
    transform: translateY(0%);
}

#loginContent.slideUp {
    transition: 1s;
    transform: translateY(-100%);
}

#transactionContainer.slideDown {
    transition: 1s;
    transform: translateY(0%);
}

#transactionContainer.slideUp {
    transition: 1s;
    transform: translateY(-100%);
}

.fadeIn {
    opacity: 1;
    animation: var(--fade-in-animation);
}

.fadeInWithDelay {
    opacity: 1;
    animation: var(--fade-in-with-delay-animation);
}

.fadeOut {
    opacity: 0;
    animation: var(--fade-out-animation);
}

#loginContent > .title.fadeIn {
    opacity: 1;
    animation: fadeInAnimation 1s linear;
}

#transactionContainer table.fadeIn {
    opacity: 1;
    animation: fadeInAnimation .5s linear;
}

@keyframes slideDownAnimation {
    0% { height: 0% }
    100% { height: 100% }
}

@keyframes slideUpAnimation {
    0% { height: 100% }
    100% { height: 0%; }
}

@keyframes fadeInAnimation {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fadeInWithDelayAnimation {
    0%,50% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fadeOutAnimation {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}